<%= simple_form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.hidden_field :category_id, value: params[:category] %>
  </div>



  <div class="field">
    <%= form.text_field :title,
      class: "form-control",
      placeholder: "Shortcut title",
      required: true %>
  </div>

  <div class="field">
    <%= form.text_field :link,
      class: "form-control",
      placeholder: "https://www.shortcut.com",
      required: true %>
  </div>

  <div class="actions">
    <%= form.button :submit, "Add shortcut", class: "form-button" %>
  </div>
<% end %>

