<div class="page-center">
  <div class="page-container">
    <div class="catalog-container">
      <div class="page-title"><%= @post.title %></div>

      <% if current_user %>
        <div class="catalog-buttons">
        </div>
      <% end %>

      <div id="posts" data-url="<%= sort_posts_path %>">

          <div class="post-row" id="<%= dom_id(@post) %>">

            <audio id="player" class="js-player" loop>
              <source src="<%= @post.file.service_url %>" type="audio/mp3">
            </audio>

            <%= link_to @post.file.service_url, target: '_blank', download: '', class: 'download'  do %>
              <i class="fal fa-arrow-to-bottom"></i>
            <% end %>

            <% if current_user %>
              <%= link_to edit_post_path(@post), class: 'ellipsis' do %>
                <i class="fal fa-ellipsis-v"></i>
              <% end %>
            <% end %>

          </div>

      </div>

      <div class="catalog-divider"></div>

      <% if current_user %>
        <div class="comment-input-box">
          <div class="comment-avatar"><%= current_user.email.first %></div>
          <div class="comment-input">

            <%= render 'comments/form' %>

          </div>
        </div>
      <% else %>
          <div class="catalog-buttons">
          <%= link_to "Sign up to leave comments", new_user_registration_path, class: "button-primary button-half" %>
          <%= link_to "Already have an account? Log in", new_user_session_path, class: "button-secondary button-half" %>
        </div>
      <% end %>

      <div id="comment_pane">
        <% @post.comments.order('created_at DESC').each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    </div>
  </div>
</div>
